*{
    margin:0;
    padding:0;
    font-family: sans-serif;
}
body{
  background-color: rgb(243,235,234);
  color:#4b2e1e;
}
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.container1{
    padding-left: 100px;
}
.con2{
    display: flex;
    justify-content: flex-end;
    font-size: 19px;
    padding-right: 120px; 
    gap:50px;
}
.cont3{
padding-top: 80px;
}

.logo{
    height: 180px;
    width:180px;
}
.home{
   animation-name: myname;
   animation-duration: 40s;
   animation-iteration-count:infinite;
}

@keyframes myname{
    from{
        transform:rotate(0deg);
    }
    to{
        transform:rotate(360deg);
    }
}
.home{
    width:500px;
    height:500px;
    border-radius: 50%;
}
.contain{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.head{
    font-size: 50px;
}
.order{
     border: none;
    background-color:#4b2e1e;
    border-radius: 30px;
    padding:10px;
    margin-top: 15px;
    color:white;
}
.menu_upper{
    width:100%;
    height:700px;
}

.cont4{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 40px;
}
.box1{
    height:350px;
    width:280px;
    background-color:rgb(243,235,234);
    border-radius: 20px;
    box-shadow:3px 3px 3px 3px grey;
}
.idli{
    height:200px;
    width:100%;
    border-radius: 20px;
}
.desc{
    font-size: 22px;
    font-weight: 700;
    text-align: center;
    margin-top: 10px;
}
.star{
    height:20px;
    width:20px;
    border-radius: 50% ;
    margin-top: 10px;
    margin-left: 10px;
}
.rate{
    font-weight: 500;
    font-size: 20px;
}
.rating{
    margin-top: 20px;
}
.south{
    color: grey;
    margin-left: 10px;
}
.rupee{
    margin-top: 10px;
}
.heading{
    text-align: center;
}
.list{
    margin-top:100px;
}
hr{
     height:2px;
     border-width:0;
     color:black;
     background-color:black
}
.box2{
    height:350px;
    width:340px;
    background-color:rgb(243,235,234);
    border-radius: 20px;
    box-shadow:3px 3px 3px 3px grey;
}
.cont6{
    height:500px;
    width:1000px;
    background-color:#4b2e1e ;
    margin-top: 70px;
    margin-left: 200px;
    border-radius: 20px;
    display: flex;
    justify-content:flex-start; 
}
.contact{
    height:430px;
    width:480px;
    margin-top:70px ;
}
.about{
    font-size: 33px;
    font-weight: 700;
    text-align: center;
    color:rgb(243,235,234);
    margin-top:20px;
}
.cont{
    margin-left: 30px;
}
iframe{
    border-radius: 18px;
    margin-top: 15px;
}

/*.aboutt{
    font-size: 22px;
    font-weight: 700;
    color:rgb(243,235,234);
    margin-top: 70px;
}
.num{
    font-weight:500;
    color:rgb(227, 204, 201);
    margin-top: 10px;
} */


.main{
    height:700px;
    width:100%;
     display:flex;
     align-items: center;
     justify-content: center;
    margin-top: 120px;
    background-color: rgb(243,235,234);
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border:2px solid #4b2e1e;
    box-shadow: 0px 0px 25px #4b2e1e;
    height:350px;
    width:600px;
    background: transparent;
    overflow: hidden;
}
 .animation{
    transform: translateX(0);
    transition: 3s ease;
}
.active .animation{
    transform: translateX(-120%);
}
 .signed{
    height:100%;
    width:50%;
    display: flex;
    justify-content:  center;
    flex-direction: column;
    padding-left: 25px;
}
.sign{
    font-size: 32px;
    text-align: center;
    color: rgb(84, 14, 5);   
}
.up{
    font-size: 28px;
    padding-left: 170px;
    color: rgb(84, 14, 5);   
}
.out{
    position: absolute;
    font-size:30px;
    text-align:center;
    color: rgb(84, 14, 5);   
}
.inputbox{
     position: relative;
    height:50px;
    width:70%;
    margin-top: 22px;  
}
input{
    height:100%;
    width:100%;
    background: transparent;
    border:none;
    outline:none;
    border-bottom: 2px solid #4b2e1e;
}
label{
    position: absolute;
    top:50%;
    left:0;
    transform: translateY(-50%);
    transition: 0.5s;
} 
.inputbox input:focus ~ label,
.inputbox input:valid ~ label{
top:-5px;
}
.icon{
    position: absolute;
    top:50%;
    right:0;
}
.btn{
    position: relative;
    height: 45px;
    width:100%;
    font-size: 19px;
    font-weight: 600;
    background: transparent;
    border-radius: 40px;
    font-size: 18px;
    overflow: hidden;
    z-index: 1;
}
.btn::before{
    content: '';
    position: absolute;
    top:-100%;
    left: 0;
    width:100%;
    height:300%;
    background: linear-gradient(#4b2e1e,rgb(243,235,234),#4b2e1e,rgb(243,235,234));
    z-index: -1;
    transition: 0.5s;
}
.btn:hover::before{
top:0;
}
.register{
    text-align: center;
    overflow: hidden;
    margin-top: 20px;
}
a{
    text-decoration: none;
    color: #4b2e1e;
    font-weight: 600;
}
.welcome{
    color:rgb(243,235,234); 
    height:100%;
    width:50%;
    text-align: right; 
    padding-right:20px;
}
.come{
    position: relative;
    display: none;
    color:rgb(243,235,234); 
    height:100%;
    width:50%;
   padding-right: 124px;
    margin-left: 40px;
}
.active .come{
    display:block;
}
.log{
    font-size: 32px;
    padding-top: 40px;
    padding-left: 100px;
}
.lorem{
  padding-left: 130px;
}
.logg{
    font-size: 32px;
    padding-top: 40px; 
}
.animate{
    position:absolute;
    background:linear-gradient(45deg,rgb(243,235,234),#4b2e1e);
    height:450px;
    width:750px;  
    top:-4px;
    right:0;  
    transform:rotate(11deg) skewY(41deg);
    transform-origin: bottom right;
    transition: 2s ease; 
}
.active .animate{
      transform: rotate(0) skewY(0); 
}
.animatee{
    position:absolute;
     background:rgb(243,235,234);
    height:550px;
    width:750px;  
    top:100%;
    left:250px;
     transform: rotate(0) skewY(0); 
   transform-origin: bottom left;
    transition: 2s ease;
}  
.active .animatee{
 transform: rotate(-11deg) skewY(-41deg); 
}
 .regis{
    position: absolute;
       display: none;
    height:100%;
    width:50%;
    margin-left: 930px;
}
.active .regis{
    display: block;
}
#carttab{
    width:400px;
    background-color: #4b2e1e;
    color:rgb(243,235,234);
    position:fixed;
    right:-100%;
    top:0;
    bottom:0;
    z-index: 100;
    overflow: auto;
    transition: 0.5s;
    
   /* inset:0 -400px 0 auto;  */
}
 #carttab .active{
    right:0;
}
.active #carttab{
    transform: translateX(-120%);
}
/*body .showcart #carttab{
     inset:0 0 0 auto;
} 
header{
    transform: translateX(-250px);
} */
.butt{
    width:48%;
    border-radius: 30px;
    background-color: rgb(237, 203, 205);
    padding: 8px;
    font-size: 20px;
    margin-top: 350px;
    font-weight: 700;
}
.cart{
    text-align: center;
    margin-top: 30px;
}
.item{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.addto{
    width:80px;
    height:80px;
}
.listcart{
    padding-top: 30px;
}
.tocart{
    display: inline-block;
    height:25px;
    width:25px;
    border-radius: 50%;
    background-color: #eee;
    gap:5px;
    text-align: center;
    padding-top: 4px; 
    font-size: 20px;
    color:#4b2e1e
}
.box1:hover{
transform: scale(1.1);
}
.box2:hover{
transform: scale(1.1);
}